/* style.css */

body {
    font-family: 'Poppins', sans-serif;
    background: #f2fdf2;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(45deg, #006400, #228B22);
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 3em;
}

.container {
    width: 90%;
    margin: 30px auto;
}

.section {
    margin-bottom: 50px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.section h2 {
    color: #228B22;
    margin-bottom: 20px;
    font-size: 2em;
}

.section p {
    font-size: 1.2em;
    color: #555;
}

button {
    background: #32CD32;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #228B22;
}

input[type="file"], input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chart-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.chart-box {
    width: 45%;
    margin-bottom: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

footer {
    background: #228B22;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}

.upload-image {
    display: block;
    margin: 20px auto;
    width: 100%;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

iframe {
    margin-top: 30px;
}
#upload-page {
    display: block;
    margin: 20px auto;
    width: 35%;
    border-radius: 15px;
}
.d-d {
    width: 30%;
    align-items: center;
    margin-left: 460px;
}
.today-test {
    text-align: center;
    padding-bottom: 10px;
    border: solid 1px;
    background: #32CD32;
    color: aliceblue;
    border-radius: 6px;
    margin-left: 450px;
    width: 30%;
    padding-top: 10px;
    gap: 10ox;
}
.h-h{
    position: sticky;
} 
