<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cotton Plant Disease Detection</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header class="h-h">
    <h1><i class="fas fa-leaf"></i> Cotton Disease Detector</h1>
    <p>"Empowering Farmers Through Technology🤖"</p>
</header>


<div class="container">
    <div class="section">
        <img src="static\uploads\Green Simple Top View Landscape Photo Motivational Quote LinkedIn Article Cover Image.png" alt="Farm Image" class="upload-image">
        <h2><i class="fas fa-info-circle"></i> About Our Project</h2>
        <p>Our system detects major cotton plant diseases early using AI. Early detection helps farmers prevent crop loss and maximize yields. We believe in a sustainable and smarter agricultural future.</p>
    </div>


    <div class="section">
        <h2><i class="fas fa-seedling"></i> Our Mission</h2>
        <p>Our mission is to empower farmers with cutting-edge tools that are easy to use, affordable, and impactful. Agriculture should be a blend of tradition and innovation.</p>
    </div>
    <div class="section" style="text-align: center;">
        <a href="/upload"><button><i class="fas fa-upload"></i> Upload Cotton Leaf</button></a>
        <a href="/dashboard"><button><i class="fas fa-chart-line"></i> View Reports</button></a>
        <a href="/consultancy"><button><i class="fas fa-user-md"></i> Book Consultancy</button></a>
    </div>


</div>

<footer>
    © 2025 Cotton Disease Detection | Powered by AI & GreenTech
</footer>

</body>
</html>